/* frontend/src/components/JobList.css */

.job-list-container {
    margin-top: 40px;
}

.job-list-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.job-list {
    display: grid;
    gap: 20px;
}

.info-text, .error-text {
    color: #aaa;
    font-style: italic;
}

.error-text {
    color: #ff6b6b;
}

.no-jobs-container {
    text-align: center;
    padding: 40px;
    background-color: #242424;
    border-radius: 8px;
    color: #aaa;
}